.product-card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.25s;
  border: 1px solid #eee;
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.08);
}

/* Image */

.product-image {
  position: relative;
  height: 220px;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Discount Badge */

.badge {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #2e7d32;
  color: white;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 4px;
}

/* Product Info */

.product-info {
  padding: 14px;
}

.category {
  font-size: 12px;
  color: #888;
}

.product-info h4 {
  font-size: 15px;
  font-weight: 500;
  margin: 5px 0 6px;
}

.rating {
  font-size: 13px;
  color: #ff9800;
}

/* Price */

.price {
  margin-top: 6px;
}

.price .new {
  font-weight: 600;
  font-size: 16px;
}

.price .old {
  margin-left: 10px;
  text-decoration: line-through;
  color: #888;
  font-size: 13px;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.add-cart-btn{
  width:100%;
  margin-top:10px;
  padding:10px;
  border:none;
  background:#c2410c;
  color:white;
  border-radius:6px;
  cursor:pointer;
}

.add-cart-btn:hover{
  background:#a73408;
}